<h1 class="text-center muted">捐助明细</h1>
<div class="container-fluid" style= "padding-bottom: 2%">
  <div class="row-fluid">
    <div class="span2 offset1">
      <div style="background-color: white;">
      <%= render "shared/left"%>
      </div>
      </div>

    <div class="span7 " style="background-color: white;">
      <div style="padding:2%">
        <%= form_for @recipient, :url => { :controller => 'recipients', :action => 'update', :id => @recipient } do |recipient| %>
          <%= recipient.label :name, "姓名" %>
          <%= recipient.text_field :name, class: "span2" %>
          <%= recipient.label :school, "学校" %>
          <%= recipient.text_field :school, class: "span7" %>
          <%= recipient.label :age, "年龄" %>
          <%= recipient.text_field :age %>
          <p>
          <%= recipient.submit "更新", class: "btn btn-primary"%>
          </p>
      <% end %>
      </div>
    </div>
  </div>
</div>








