<h1 class="text-center muted">受捐者明细</h1>
<div class="container-fluid" style= "padding-bottom: 2%">
  <div class="row-fluid">
    <div class="span2 offset1">
      <div style="background-color: white;">
      <%= render "shared/left"%>
      </div>
    </div>
<div class="span7" style="background-color: white;">
  <h2 style="padding-left: 1%">
    <%= link_to "新建", new_admin_recipient_path, class: "btn btn-primary"%>
  </h2>
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>姓名</th>
        <th>学校</th>
        <th>年龄</th>
        <th>管理</th>
      </tr>
    </thead>
    <% @recipient.each do |r|%>
    <tbody>
      <tr>
        <td >
          <%= r.name %>
        </td>
        <td >
          <%= r.school %>
        </td>
        <td>
          <%= r.age%>
        </td>
        <td>
          <%= link_to "编辑", edit_admin_recipient_path(r)%>
          <%= link_to "删除", r, method: :delete %>
        </td> 
      </tr>
    </tbody>
    <% end %>
  </table>
  <div class="text-center">
  <%= paginate @recipient %>
  </div>
</div>

</div>
</div>
